/* HERO SECTION */
.hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* Video */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* BRAND LOGOS */
.brand-logos img {
  width: 90px;
  height: auto;
  transition: transform 0.4s ease;
}

.brand-box {
  background: #f8f9fa;
  padding: 25px 10px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

.brand-box p {
  margin-top: 12px;
  font-weight: 600;
  color: #333;
}

/* Hover effect (loop jaisa feel) */
.brand-box:hover {
  transform: translateY(-8px);
}

.brand-box:hover img {
  transform: scale(1.15) rotate(3deg);
}

/* CONTACT HERO */
.contact-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/img/contact-bg.jpg") center/cover no-repeat;
  color: #fff;
  padding: 100px 0;
}

.contact-hero h1 {
  font-size: 3rem;
}

/* CONTACT BOX */
.contact-box {
  background: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}

.contact-box i {
  font-size: 30px;
  color: #0d6efd;
  margin-bottom: 15px;
}

.contact-box:hover {
  transform: translateY(-8px);
}

/* MAP */
.map-section iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.contact-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url("assets/img/hero-section.jpg") center/cover no-repeat;

  color: #fff;
}

.car-detail {
  background: #f8f9fa;
  padding: 60px 0;
}

.car-detail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.car-detail img:hover {
  transform: scale(1.05);
}

.car-detail h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.car-detail ul li {
  padding: 5px 0;
  font-size: 16px;
}

.car-detail p {
  line-height: 1.7;
  color: #555;
}

.car-detail .btn-primary {
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
}